.noBooks {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.noBooks i {
    font-size: 100px;
}

.noBooks small {
    font-size: 17px;
}

@media (max-width: 900px) {
    .filters {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .filters label {
        text-align: left;
    }

    .filters .title {
        width: 100%;
    }

    .filters .catego2 {
        flex-direction: column;
    }

    .filters .catego2 {
        width: 100%;
    }
}
