.booklist {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
        300px,
        1fr
        )
    );
}

.noBooks {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.noBooks i {
    font-size: 100px;
}
