.bookList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.noBooks {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.noBooks i {
    font-size: 100px;
}

.noBooks small {
    font-size: 17px;
}

@media (max-width: 900px) {
    .filters {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .filters {
        padding: 10px;
    }

    .filters label {
        text-align: left;
    }

    .filters .title {
        width: 100%;
    }

    .filters .title input {
        padding: 5px;
    }

    .filters .catego2{
        display: block;
        width: 100%;
    }

    .filters .catego2 div {
        width: 100%;
        padding: 0;
        margin-top: 15px;
    }

    .filters .catego2 div input {
        margin-top: 0;
    }

    .filters .catego2 div select {
        margin-top: 5px;
        padding: 2px;
    }

    .tabs li button {
        font-size: 17px;
        width: 180px;
        height: 50px;
        padding: 0;
    }
}
