* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #a7c686;
    --secondary-color: #fcee8c;
    --primary-bg: black;
    --secondary-bg: #3d6868;
    --secondary-bg: #3c515d;
    --thrid-bg: #798e8f;
}

body {
    background-color: var(--primary-bg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
}
