* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #8ECAE6;
    --secondary-color: #06D6A0;
    --primary-bg: #023047;
    --secondary-bg: #FFB703;
}

body {
    background-color: var(--primary-bg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
}
