.book {
    background-color: var(--secondary-bg);
    background-color: var(--primary-bg);
    border: 3px solid var(--secondary-bg);
    border-radius: 5px;
    display: inline-block;
    width: 250px;
    height: 630px;
    margin: 12px;
    text-align: center;
    padding: 15px;
}

.book img {
    width: 250px;
    aspect-ratio: 9/16;
    box-shadow: 6px 6px var(--secondary-bg);
    transition: all 1s;
}

.book img:hover {
    scale: 1.125;
    transform: rotate(6deg);
}

.book .title {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 20px;
    color: var(--secondary-color);
    height: 50px;
    margin-bottom: 10px;
    align-items: center;
}

.book .title p {
    width: 100%;
}

.book .title button {
    background-color: transparent;
    border: none;
    margin: 5px;
    border-radius: 50%;
    font-size: 25px;
    user-select: none;
    padding: 10;
    color: white;
}

.book i {
    width: 25px;
    height: 25px;
}

.book .title button:hover {
    color: var(--primary-color);
}

.book .info {
    margin-top: 20px;
    color: var(--secondary-color);
}
