.explorer {
    height: 600px;
    padding-top: 10px;
}

.booklist {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
        300px,
        1fr
        )
    );
}
