.book {
    background-color: var(--primary-bg);
    border: 2px solid;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    height: 550px;
    text-align: center;
    padding: 10px;
}

.book img {
    width: 220px;
    aspect-ratio: 9/16;
    box-shadow: 6px 6px var(--primary-color);
    transition: all .5s;
}

.book img:hover {
    scale: 1.125;
    transform: rotate(6deg);
    box-shadow: none;
}

.book .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 20px;
    height: 50px;
    margin-bottom: 10px;
}

.book .title p {
    width: 100%;
}

.book .title button {
    background-color: transparent;
    border: none;
    margin: 5px;
    font-size: 27px;
    color: var(--primary-color);
}

.book .title button:hover {
    color: var(--secondary-bg);
}

.book .changePos button {
    margin: 0;
    font-size: 20px;
}

.book .info {
    margin-top: 20px;
}

.book #disable {
    display: none;
}
