.filters {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--primary-bg);
    border: 2px solid var(--secondary-bg);
    border-radius: 15px;
}

.filters div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    width: 300px;
}

.filters input, .filters select {
    margin-top: 5px;
    color: var(--primary-bg);
}

.filters input:focus, .filters select:focus {
    border: none;
    outline: none;
}

.filters div input {
    padding: 5px;
}

.filters .pages input {
    accent-color: var(--secondary-bg);
    cursor: pointer;
}

.filters .pages small {
    font-size: 13px;
    font-style: italic;
    color: var(--secondary-color);
}

.filters .title input {
    background-color: var(--secondary-bg);
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.filters select {
    text-align: center;
    padding: 8px 0;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    border: none;
    
    font-size: 18px;
    font-weight: bold;
}
