.filters {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--primary-bg);
    border: 1px solid var(--secondary-bg);
    border-radius: 15px;
}

.filters .title {
    width: 400px;
}

.filters .title, .filters .catego2 div  {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filters .title input {
    background-color: var(--secondary-bg);
    color: var(--primary-bg);
    padding: 5px;
    border: none;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.filters input:focus {
    outline: none;
}

.filters .catego2 {
    display: inherit;
}

.filters .catego2 div {
    width: 100%;
    padding: 0 10px;
    width: 200px;
}

.filters .catego2 div input {
    margin-top: 15px;
}

.filters .pages {
    accent-color: var(--secondary-bg);
}

.filters .catego2 div select {
    margin-top: 10px;
    text-align: center;
    padding: 8px 0;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
